<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <title>?????</title>
    <style>
        body {
            background-color: rgba(0, 0, 0, 0.95);
            border: 42px solid #FFFF00;
            height: 3093px;
        }

        .menubar {
            background-color: #FFFF00;
            width: 1356px;
            height: 104px;
            margin-bottom: 10px;
        }

        .backbutton {
            background-color: #000000;
            border-radius: 12px;
            width: 222px;
            height: 100px;
            margin-bottom: 10px;
            margin-left: 13px;
        }

        .Line-Btn {
            color: #f5f5f5;
            font-family: Andale Mono, monospace;
            font-size: 50px;
            font-weight: 1000;
            line-height: 48px;
            text-align: center;
            margin-top: 22px;
            margin-left: 32px;

        }


        #triangle-left {
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-right: 40px solid #f5f5f5;
            border-bottom: 20px solid transparent;
            margin-top: 24px;
            margin-left: 24px;

        }

        #title {
            color: #323232;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 52px;
            font-weight: bold;
            line-height: 88px;
            width: 1020px;
            text-align: center;
        }

        .bonus {
            color: #FFFF00;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 122px;
            font-weight: bold;
            line-height: 108px;
            width: 1020px;
            margin-left: 210px;
            margin-top: 100px;
            text-align: center;
        }
    </style>
</head>

<body>
    <p class="bonus">NEW FEATURES COMING SOON!</p>
</body>

</html>