{% extends 'basetemplate.html' %}
{% load static %}
    {% block content %}
    <style>
        .bodyku {
            background-color: rgba(0, 0, 0, 0.95);
            border: 42px solid #FFFF00;
            height: 3400px;
        }

        .menubar {
            background-color: #FFFF00;
            width: 1356px;
            height: 104px;
            margin-bottom: 10px;
        }

        .backbutton {
            background-color: #000000;
            border-radius: 12px;
            width: 222px;
            height: 100px;
            margin-bottom: 10px;
            margin-left: 13px;
        }

        .Line-Btn {
            color: #f5f5f5;
            font-family: Andale Mono, monospace;
            font-size: 50px;
            font-weight: 1000;
            line-height: 48px;
            text-align: center;
            margin-top: 22px;
            margin-left: 32px;

        }


        #triangle-left {
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-right: 40px solid #f5f5f5;
            border-bottom: 20px solid transparent;
            margin-top: 24px;
            margin-left: 24px;

        }

        #title {
            color: #323232;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 52px;
            font-weight: bold;
            line-height: 88px;
            width: 1020px;
            text-align: center;
        }

        .ui {
            width: 400px;
            height: 389.95px;
            margin-left: 80px;
        }

        .duos {
            width: 720px;
        }

        .fancyline {
            border: 13px solid #f5f5f5;
            margin-top: 12px;
            margin-left: -50px;
            width: 682px;
        }

        .par {
            color: #f5f5f5;
            font-family: Optima, sans-serif;
            font-size: 32px;
            font-weight: 200;
            line-height: 45px;
            width: 682px;
            text-align: justify;
            margin-top: 24px;
            margin-left: -50px;
        }


        a:hover{
            text-decoration: #FFFF00;
        }

        @media screen and (max-width: 720px){
            .bodyku {
            background-color: rgba(0, 0, 0, 0.95);
            border: 30px solid #FFFF00;
            height: 2400px;
        }

            .ui {
            width: 200px;
            height: 195px;
            margin-left: 240px;
        }

        .duos {
            width: 720px;
        }

        .fancyline {
            border: 6px solid #f5f5f5;
            margin-top: 12px;
            margin-left: 170px;
            width: 340px;
        }

        .par {
            color: #f5f5f5;
            font-family: Optima, sans-serif;
            font-size: 20px;
            font-weight: 200;
            line-height: 25px;
            width: 340px;
            text-align: justify;
            margin-top: 24px;
            margin-left: 170px;
        }
        }

        @media screen and (max-width: 480px){
            .bodyku {
            background-color: rgba(0, 0, 0, 0.95);
            border: 12px solid #FFFF00;
            height: 1600px;
        }

            .ui {
            width: 133.33px;
            height: 130px;
            margin-left: 180px;
        }

        .duos {
            width: 720px;
        }

        .fancyline {
            border: 4px solid #f5f5f5;
            margin-top: 12px;
            margin-left: 90px;
            width: 300px;
        }

        .par {
            color: #f5f5f5;
            font-family: Optima, sans-serif;
            font-size: 16px;
            font-weight: 200;
            line-height: 16px;
            width: 290px;
            text-align: justify;
            margin-top: 18px;
            margin-left: 90px;
        }
        }

        @media screen and (max-width: 360px){
            .bodyku {
            background-color: rgba(0, 0, 0, 0.95);
            border: 12px solid #FFFF00;
            height: 1400px;
        }

            .ui {
            width: 133.33px;
            height: 130px;
            margin-left: 105px;
            margin-top: -120px;
            margin-bottom: 0px;
        }

        .duos {
            width: 720px;
        }

        .fancyline {
            border: 4px solid #f5f5f5;
            margin-top: 12px;
            margin-left: 60px;
            width: 225px;
        }

        .par {
            color: #f5f5f5;
            font-family: Optima, sans-serif;
            font-size: 13px;
            font-weight: 200;
            line-height: 16px;
            width: 225px;
            text-align: justify;
            margin-top: 18px;
            margin-left: 60px;
        }
        }
    </style>
</head>

<body class="bodyku">

    <div class="row" style="margin-top: 208px">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 ena">
            <img src="{% static 'uwiw.png' %}" class="ui">
            <div class="fancyline"></div>
            <p class="par">It's an honor to study in Faculty of Computer Science of University of Indonesia, and I
                cherishes every moment studying about Computer Science there. A prestigious academy for everyone, I
                pride my time here.</p>
            </br>
            <img src="{% static 'python.png' %}" class="ui" style="margin-top: 24px">
            <div class="fancyline"></div>
            <p class="par">Pyhton is my first language, my first hands-on experience in the world of programming
                language. And even now, i'm a teaching assistant for Foundation of Programmings 1, which uses this
                language. </p>
            </br>
            <img src="{% static 'java.png' %}" class="ui" style="margin-top: 28px">
            <div class="fancyline"></div>
            <p class="par">Java is my second language. I'm proud to announce that i'm very talented with its
                Object-Oriented Programming concept. </p>
            </br>
            <img src="{% static 'html.png' %}" class="ui" style="margin-top: 28px">
            <div class="fancyline"></div>
            <p class="par">HTML is a language i'm trying to master right now. Unlike the other two, it's not something i
                can parade around, not with my current ability.</p>
            </br>
        </div>
    </div>
</body>
    {% endblock %}