{% extends 'basetemplate.html' %}
{% load static %}
{% block content %}

<style>

@media screen and (max-width: 1280px) {
        .bodyku {
            background-color: rgba(0, 0, 0, 0.95);
            border: 12px solid #FFFF00;
            height: 1400px;
        }

        .box {
            background-color: rgba(19, 206, 102, 0);
            border: 4px solid #FFFF00;
            width: 280px;
            height: 100px;
            margin-left: 28px;
            margin-bottom: 0px;
            margin-top: 60px;
        }

        .formtitle {
            color: #FFFFFF;
            font-family: Helvetica, sans-serif;
            font-size: 65px;
            font-weight: bold;
            line-height: 40px;
            text-align: left;
            width: 720px;
            height: 54px;
            margin-left: 320px;
            margin-top: 90px;
        }
        .site-form{
            margin-left: 450px;
        }

    }

@media screen and (max-width: 720px) {
        .bodyku {
            background-color: rgba(0, 0, 0, 0.95);
            border: 12px solid #FFFF00;
            height: 1400px;
        }

        .box {
            background-color: rgba(19, 206, 102, 0);
            border: 4px solid #FFFF00;
            width: 280px;
            height: 100px;
            margin-left: 28px;
            margin-bottom: 0px;
            margin-top: 60px;
        }

        .formtitle {
            color: #FFFFFF;
            font-family: Helvetica, sans-serif;
            font-size: 35px;
            font-weight: bold;
            line-height: 40px;
            text-align: left;
            width: 480px;
            height: 54px;
            margin-left: 180px;
            margin-top: 50px;
        }

        .site-form{
            margin-left: 220px;
        }

    }

@media screen and (max-width: 480px) {
        .bodyku {
            background-color: rgba(0, 0, 0, 0.95);
            border: 12px solid #FFFF00;
            height: 720px;
        }

        .box {
            background-color: rgba(19, 206, 102, 0);
            border: 4px solid #FFFF00;
            width: 280px;
            height: 100px;
            margin-left: 28px;
            margin-bottom: 0px;
            margin-top: 60px;
        }

        .formtitle {
            color: #FFFFFF;
            font-family: Helvetica, sans-serif;
            font-size: 25px;
            font-weight: bold;
            line-height: 40px;
            text-align: left;
            width: 280px;
            height: 54px;
            margin-left: 110px;
            margin-top: 80px;
        }

        .site-form{
            margin-left: 110px;
        }

    }

    @media screen and (max-width: 360px) {
        .bodyku {
            background-color: rgba(0, 0, 0, 0.95);
            border: 12px solid #FFFF00;
            height: 720px;
        }

        .box {
            background-color: rgba(19, 206, 102, 0);
            border: 4px solid #FFFF00;
            width: 280px;
            height: 100px;
            margin-left: 28px;
            margin-bottom: 0px;
            margin-top: 60px;
        }

        .formtitle {
            color: #FFFFFF;
            font-family: Helvetica, sans-serif;
            font-size: 25px;
            font-weight: bold;
            line-height: 40px;
            text-align: left;
            width: 280px;
            height: 54px;
            margin-left: 60px;
            margin-top: 50px;
        }

        .site-form{
            margin-left: 50px;
        }

    }
</style>

<body class="bodyku">
    <div>
        <div class="formtitle">Add an agenda here</div>
        <br>
        <form class="site-form" action="{% url 'web2:forms' %}" method="post">
            {% csrf_token %}
            <table  style="color: #FFFFFF;">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Add Agenda">
        </form>
    </div>
</body>







{% endblock %}