{% load static %}
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFF00">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'web2:experience' %}"
          style="color: #f5f5f5;background-color: #000000;border: 4px solid #f5f5f5;
                border-radius: 16px;font-size: 34px;height:90px;width: 192px; text-align: center;padding-bottom: 10px;margin-right: 12px">HOME<span
            class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'web2:experience' %}"
          style="color: #f5f5f5;background-color: #000000;border: 4px solid #f5f5f5;
                      border-radius: 16px;font-size: 20px;height:90px;width: 192px; text-align: center;padding-bottom: 10px;margin-right: 10px">EXPERIENCE
          AND ACHIEVEMENTS<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'web2:photos' %}"
          style="color: #f5f5f5;background-color: #000000;border: 4px solid #f5f5f5;
                    border-radius: 16px;font-size: 34px;height:90px;width: 192px; text-align: center;padding-bottom: 10px;margin-right: 10px">PHOTOS<span
            class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'web2:reviews' %}"
          style="color: #f5f5f5;background-color: #000000;border: 4px solid #f5f5f5;
                        border-radius: 16px;font-size: 34px;height:90px;width: 192px; text-align: center;padding-bottom: 10px;margin-right: 10px">REVIEWS<span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

</html>